<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clubs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
        <div class="top-bar">
            <div class="welcome-message">
                {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }}</span>
                {% else %}
                    <span>Welcome, Guest</span>
                {% endif %}
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'get_all_club' %}">Clubs</a></li>
                    <li><a href="{% url 'match_details' %}">Matches</a></li>
                    <li><a href="{% url 'predict' %}">Predictions</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <div class="logout-button">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                </form>
<!--                    <a href="{% url 'logout' %}">Logout</a>-->
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

                    <a href="{% url 'register_user' %}" class="btn btn-secondary">Register</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="container mt-3">
    <h1>Clubs</h1> </br>
    <div class="row">
        {% for club in clubs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ club.name }}</h2>
                        <p class="card-text"><strong>Founded:</strong> {{ club.founded }}</p>
                        <p class="card-text"><strong>Stadium:</strong> {{ club.stadium }}</p>
                        <p class="card-text"><strong>Location:</strong> {{ club.location.city }}, {{ club.location.country }}</p>
                        <h3>Players:</h3>
                        <ul class="list-unstyled">
                            {% for player in club.players %}
                                <li>{{ player.name }} - {{ player.position }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>