<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll Prediction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="welcome-message">
                {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }}</span>
                {% else %}
                    <span>Welcome, Guest</span>
                {% endif %}
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'get_all_club' %}">Clubs</a></li>
                    <li><a href="{% url 'match_details' %}">Matches</a></li>
                    <li><a href="{% url 'predict' %}">Predictions</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <div class="logout-button">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
<!--                    <a href="{% url 'logout' %}">Logout</a>-->
                {% else %}
                    <a href="{% url 'login' %}">Login</a>

                    <a href="{% url 'register_user' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <h1>Predict the Winner</h1>
        {% if match %}
            <div class="match-details">
                <p>{{ match.home_team_name }} vs {{ match.away_team_name }}</p>
                <p>Date: {{ match.date }}</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="poll-options">
                    <label>
                        <input type="radio" name="prediction" value="{{ match.home_team_id }}"> {{ match.home_team_name }}
                    </label>
                    <label>
                        <input type="radio" name="prediction" value="{{ match.away_team_id }}"> {{ match.away_team_name }}
                    </label>
                </div>
                <button type="submit">Submit Prediction</button>
            </form>
        {% else %}
            <p>{{ error }}</p>
        {% endif %}
    </main>
</body>
</html>