<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="welcome-message">
                {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }}</span>
                {% else %}
                    <span>Welcome, Guest</span>
                {% endif %}
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'get_all_club' %}">Clubs</a></li>
                    <li><a href="{% url 'match_details' %}">Matches</a></li>
                    <li><a href="{% url 'predict' %}">Predictions</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <div class="logout-button">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                </form>
<!--                    <a href="{% url 'logout' %}">Logout</a>-->
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

                    <a href="{% url 'register_user' %}" class="btn btn-secondary">Register</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h2>Upcoming Matches</h2></br>
            {% if upcoming_matches %}
                <div class="row">
                    {% for match in upcoming_matches %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ match.home_team_name }} vs {{ match.away_team_name }}</h5>
                                    <p class="card-text">{{ match.date }}</p>
                                    {% if match.is_predicted %}
                                        <span class="badge badge-secondary">Already Predicted</span>
                                    {% else %}
                                        <a href="/predict/{{ match.match_id }}" class="btn btn-primary">Predict</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No upcoming matches.</p>
            {% endif %}
        </div>
        <div class="col-12"></br></br>
            <h2>Completed Matches</h2></br>
            {% if completed_matches %}
                <div class="row">
                    {% for match in completed_matches %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ match.home_team_name }} vs {{ match.away_team_name }}</h5>
                                    <p class="card-text">{{ match.date }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No completed matches.</p>
            {% endif %}
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>