<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
        <div class="top-bar">
            <div class="welcome-message">
                {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }}</span>
                {% else %}
                    <span>Welcome, Guest</span>
                {% endif %}
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'get_all_club' %}">Clubs</a></li>
                    <li><a href="{% url 'match_details' %}">Matches</a></li>
                    <li><a href="{% url 'predict' %}">Predictions</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <div class="logout-button">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                </form>
<!--                    <a href="{% url 'logout' %}">Logout</a>-->
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

                    <a href="{% url 'register_user' %}" class="btn btn-secondary">Register</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="container mt-3">
    {% if user_document %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><u>Profile Information</u></h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Username:</strong> {{ user_document.username }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ user_document.email }}</li>
                    <li class="list-group-item"><strong>Age:</strong> {{ user_document.age }}</li>
                    <li class="list-group-item"><strong>Mobile Number:</strong> {{ user_document.mobile_number }}</li>
                    <li class="list-group-item"><strong>Country:</strong> {{ user_document.country }}</li>
                    <li class="list-group-item"><strong>Rewards:</strong> {{ user_document.rewards }}</li>
                    <li class="list-group-item"><strong>Favorite Clubs:</strong>
                        <ul>
                            {% for club_name in user_document.favorite_clubs_names %}
                                <li>{{ club_name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <a href="{% url 'edit_clubs' %}" class="btn btn-primary mt-3">Edit Favorite Clubs</a>
            </div>
        </div>
    {% else %}
        <p>No user document found.</p>
    {% endif %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>